/*"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, "Microsoft Yahei", Verdana, Simsun, "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",  "BBAlpha Sans", "S60 Sans", Arial, sans-serif;*/
::selection {
  background: #000000;
  color: #ffffff;
}
::-moz-selection {
  background: #000000;
  color: #ffffff;
}
::-webkit-selection {
  background: #000000;
  color: #ffffff;
}
body {
  position: relative;
}
.center {
  text-align: center;
}
.footer-a {
  margin-top: 5px;
}
*,
body {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
  font-weight: 300;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none !important;
}
#headerContainer {
  background-color: #2561a0;
  border: none;
  margin: 0;
}
#headerContainer .navbar-brand {
  padding: 0;
  padding-left: 10px;
  line-height: 60px;
}
#headerContainer .navbar-brand img {
  height: 50px;
  display: inline-block;
  margin-top: -5px;
}
#headerContainer .navbar-nav a {
  line-height: 60px;
  padding: 0 10px;
  color: #fff;
}
#headerContainer .navbar-form {
  box-shadow: none;
  -webkit-box-shadow: none;
}
#headerContainer .search-input {
  font-size: 12px;
  padding: 7px 20px;
  border-radius: 30px !important;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  transition: .3s ease;
  background-clip: padding-box;
  width: 65%;
  height: auto;
  margin-top: 3px;
  float: right;
}
#headerContainer .search-input:focus {
  outline: 0;
  width: 100%;
}
#postsContainer {
  margin-top: 60px;
}
section {
  color: #e2f3e5;
  margin-top: 60px;
}
.home-section {
  position: relative;
  background-color: #2561a0;
}
.home-section .home-preview {
  position: relative;
}
.header {
  text-align: center;
  padding: 30px;
}
.header p {
  color: #d0ebd6;
  font-size: 16px;
}
.header .btn {
  padding: 10px 16px;
  font-size: 14px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 2px;
  margin: 20px 0;
}
.header .btn-primary {
  background-color: #25313e;
  border-color: #1f2a34;
}
.header h2 {
  font-size: 32px;
  color: #fff;
}
.preview {
  margin: auto;
  width: 850px;
  text-align: center;
  overflow: hidden;
}
.preview img {
  border-radius: 5px;
  width: 800px;
}
.form-control {
  height: 60px;
  padding: 10px 16px;
  border: none;
  border-radius: 0;
}
.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-submit {
  width: 100%;
  margin-top: 10px;
  height: 55px;
  background: #ef9c55;
  border-color: #ef9c55;
  color: #fff;
}
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:active {
  background: #ef9c66;
  border-color: #ef9c55;
  color: #fff;
  outline: none;
}
.no-select {
  -webkit-user-select: none;
  user-select: none;
}
.btn-register {
  width: 100%;
  margin-top: 15px;
  height: 55px;
  line-height: 40px;
  background: transparent;
  color: #fff;
}
.btn-register:hover,
.btn-register:focus,
.btn-register:active {
  background: rgba(255, 255, 255, 0.17);
  color: #fff;
  outline: none;
}
.auto-forget {
  color: #fff;
  margin-top: 10px;
}
.forget {
  line-height: 40px;
  color: #fff;
}
.forget:hover {
  color: #eee;
}
.form-captcha {
  display: inline-block;
  width: 170px;
}
.captcha-image {
  width: 108px;
  height: 60px;
}
.third {
  margin-top: 15px;
  text-align: center;
}
.third i {
  font-size: 24px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;
}
.third .fa-wechat {
  border: 1px solid #60c455;
  color: #60c455;
}
.third .fa-wechat:hover {
  background: #60c455;
  color: #fff;
}
.third .fa-weibo {
  margin-left: 10px;
  border: 1px solid #ff7474;
  color: #ff7474;
}
.third .fa-weibo:hover {
  background: #ff7474;
  color: #fff;
}
.alert {
  border-radius: 2px;
  border: none;
  margin-bottom: 3px;
  display: none;
}
#loginForm {
  width: 320px;
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #30373f;
  z-index: 999;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}
body {
  /*background: url(../images/login-bg.png) no-repeat center top #1a1a1a;*/
  background: url(../images/bg/1.jpg) no-repeat center top #1a1a1a;
  background-size: 100% auto;
}

.style-0 {
  background: url(../images/bg/1.jpg?) no-repeat center top #1a1a1a;
  background-size: 100% auto;
}

.style-1 {
  background: url(../images/bg/2.jpg?2) no-repeat center top #1a1a1a;
  background-size: 100% auto;
}

.style-2 {
  background: url(../images/bg/3.jpg?) no-repeat center top #1a1a1a;

  background-size: 100% auto;
}

.style-3 {
  background: url(../images/bg/4.jpg?) no-repeat center top #1a1a1a;

  background-size: 100% auto;
}

.style-4 {
  background: url(../images/bg/5.jpg?) no-repeat center top #1a1a1a;

  background-size: 100% auto;
}

html,body {
  height: 100%;
}
#box {
  margin: 0;
  color: #000;
  padding-top: 30px;
}
h1 {
  height: 83px;
  margin: auto;
  margin-bottom: 20px;
  width: 350px;
  color: #eee;
  text-align: center;
}
#boxHeader {
  border-color: #e8e8e8;
  color: #333;
  background-color: #f5f5f5;
  border-radius: 2px 2px 0 0;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
#boxForm {
  width: 350px;
  margin: auto;
}
#boxForm form {
  padding-bottom: 30px;
}
#boxForm .form-group {
  margin: 0;
}
#boxForm table {
  width: 100%;
}
.form-group-ctn {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.form-group-username,
.form-group-pwd {
  border-bottom: 1px solid #ccc;
}
